$bgColor: black;
.flex{

    background-color: $bgColor;
    position: fixed;
    width: 100%;
    .example-spacer {
        flex: 1 1 auto;
      }

}

.menubtn{
    display: block;
    color: white;
    font-size: 20px;
    padding: 20px;
    margin:10px;
}
.btn-visible{
  visibility: visible;
}
.btn-visible.active{
  background-color:whitesmoke;
}
.example-sidenav {
    margin-top: 64px;
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.5);
    height: 605px;

  }
  .btn-menu{
    visibility:hidden;
  }
@media(max-width:940px){
    // .flex{
    //     flex-direction: column;

    // }
    .navflex{
        display: none;

    };
    .sidenav-content{
        display: block;
    };

}
@media(max-width:600px){
    .example-sidenav{
        margin-top: 55px;
    }

}
@media(max-width:750px){

  .btn-menu{
    visibility:visible;
  }
  .btn-visible{
    visibility: hidden;
  }
}

